h1 {

    font-family: Outfit;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 3px 3px 2px #3F4D59;
    color: #D5E5F2;
    padding-left: 135px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 8px;
    border-color: #7C92A6;
    margin: 5px;
}


h4 {
    text-decoration: underline;
}

.mainContent {
    height: fit-content;
    overflow-y: scroll;
}

#top {
    background-color: #3F4D59;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 5;
    max-height: 160px;
    overflow-x: hidden;
}

#bottom {
    background-color: #3F4D59;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 5;
}

#content {
    width: min-content;
    height: 100%;
}

#upDate {
    position: absolute;
    left: 85%;
    top: 10px;
    font-family: Outfit;
    font-size: 15px;
    padding-right: 40px;
    color: #D5E5F2;
    opacity: 50%;
    z-index: 5;
}

#wiImage {
    position: absolute;
    top: 18px;
    left: 40px;
    z-index: 5;
}

.container {
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translate(-50%, 0px);
    padding-bottom: 100px;
}


.backgroundLayer {
    background: url('img/backTopo.png');
    position: relative;
}


.card-img-top {
    padding: 20px;
    border-width: 0px;
    border-color: #3F4D59;
    border-style: ridge;
    padding-bottom: 0px;
}

.dropdown {
    position: fixed;
    top: 55px;
    right: 40px;
    z-index: 6;
    font-family: Outfit;
}

#subtitle {
    font-size: x-large;
    font-weight: 100;
}

.map {
    max-width: 100%;
    max-height: auto;
    border-width: 3px;
    border-color: #3F4D59;
    border-style: ridge;
    margin-bottom: 20px;
}

.desc {
    font-family: Outfit;
    font-size: 18px;
    border-width: 1px;
    border-style: ridge;
    border-color: lightgrey;
    background-color: #FFFFFF75;
    padding: 25px;
    margin-top: 40px;
}

h3 {
    font-family: Outfit;
    font-size: 36px;
    border-width: 1px;
    border-style: ridge;
    border-color: lightgrey;
    background-color: #FFFFFF75;
    padding: 25px;
    font-weight: bolder;
    text-shadow: 3px 3px 2px #d1d1d1;
}

.card {
    line-height: 70%;
}

.card-title {
    font-family: Outfit;
    font-size: 22px;
}

.btn btn-info {
    font-family: Outfit;

}

.col-md-6 {
    padding: 60px;
    font-family: Outfit;
    line-height: 70%;
}

.carousel-inner {
    border-width: 5px;
    border-style: ridge;
    border-color: rgb(80, 80, 80);
}

.jumbotron {
    margin-bottom: -60px;
    padding: 30px;
    background-color: #3f4d59b7;
    font-family: Outfit;
    color: white;

}

.resLoc {
    font-size: large;
    color: lightblue
}

.dateRange {
    font-size: small;
    color: lightgray;
}

#frontImages {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portThumb {
    margin-top: 20px;
    margin-bottom: 30px;
}

.nav-item {
    z-index: 99999999;
    height: auto;
}

.navbar {
    z-index: 9999999;
    height: auto;
}
